#results {
    padding-top: 30px;
    padding-left: 25px;
}

#search {
    background-color:lightgrey;
    height: 120px;
    padding-top: 1px;
    padding-left: 25px;
}

#date{
 margin-left: 10px;
 margin-right: 10px;
}

#date1{
    margin-left: 10px;
    margin-right: 10px;
   }
